@media screen and (min-width: 1550px){
	body{
		font-size: 1.2rem;
	}

}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
	.menu-wrapper {
		width: 50%;
		
	}
}

@media (max-width: 1024px) {
		h1.hero-title {
		font-size: 2.8rem;
	}
		h2 {
		font-size: 2rem;
	}
		p {
		font-size: 1.2rem;
	}

		.lang {
		padding-left: 110px;
	}

		.button-started {
		width: 220px;
	}
		.button-started .get-started-button2 {
		padding: 17px 0 !important;
		font-size: 1rem;
	}
	
.blog a {
        font-size: 1.1rem;
}
		.sources-wrapper, .sources-block{
		flex-wrap: wrap;
		justify-content: center;
	}
	
		.sources-title {
		flex-basis: 100%;
		text-align: center;
	}
}

@media screen and (min-width: 768px) and (max-width: 1240px) {

		p {
			font-size: 1rem;
	}

		.button-started .get-started-button2 {
		width: 60%;
	}

		.button-group {
			width: 85%;
		}

		.button-group-2 {
			width: 42.5%;
		}


}

@media(max-width: 768px) {
	h1.hero-title {
		font-size: 2.3rem;
		}

	h2 {
		font-size: 1.8rem;
		}

	h2 > sup {
		font-size: .7rem;
		}
	
	p {
		font-size: 1rem;
		}
	.content {
		margin: 8% 0;
		padding: 4% ;
	}

	.app-download-wrapper{
		flex-wrap: wrap;
		justify-content: center;	
}
	.img-phone {
		flex-basis: 100%;
	}
	.img-phone img {
		width: 70%;
		display: block;
		margin-left: 10%;
	}

	.button-block {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.button-install {
		padding: 10px 3px;
	}

	.button-web {
		margin-left: -50%;
	}

	.content-description {	
		margin: 0 auto;
		margin-top: 3%;
		text-align: center;
		flex-basis: 100%;

	}

	.slider {
		margin: 0 5%;
	}

	.imgEnjoy img, .img-context-puzzle img {
		width: 100%;
	}

	.enjoyIt-heading, .context-title, .sources-title {
			padding: 10px;
		}
		

	.blog-button {
		-webkit-background-size: 50%;
		background-size: 50%;
	}	

	.blog a {
        font-size: 1.1rem;width: 20%;
		}

	.sources-title {
		flex-basis: 100%;
		text-align: center;
		padding-left: 0;
	}

	.sources-block {
		justify-content: center;
		flex-basis: 70%;
	}


}


@media(max-width: 610px) {
	h1.hero-title {
		font-size: 1.1rem;
		}

	h2 {
		font-size: 1rem;

		}
	h3 {
		font-size: .9rem;
	}
	
	p, a {
		font-size: .7rem;
	}

	.wrapper-hero {
    	padding: 4% 0 25%;
	}

	.logo-light {
		font-size: 1.4rem;
    	right: 5%;
    	margin-left: auto;
	}

	.lang {
    padding-left: 20px;
	}

	.lang, .menu-wrapper {
		width: auto;
	}

	.content {
		margin: 25% 0;
	}

	.button-started .get-started-button2, .button-started .get-started-button {
    	font-size: 0.7rem;
    	width: 70%;
    	margin: 0 auto;
	}

	.slider {
		margin:  0 5%;
	}
	.image-carousel-caption {
		font-size: .7rem;
	}


	.blog-button {
		-webkit-background-size: 55%;
		background-size: 55%;
	}	

	.blog a {
		font-size: .7rem;
    	width: 25%;
    	letter-spacing: 2px;
    	    padding: 2% 3%;
		}
	
	.sources-block {
    	flex-basis: 95%;
	}

	.sources-paragraph p {
		font-size: .8rem;
	}

	.call-to-action {
		-webkit-background-size: 180%;
		background-size: 180%;
	}
}