@media screen and (min-width: 1550px){
	body{
		font-size: 1.2rem;
	}

}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
	.menu-block {
		width: 40%;
	}
}

@media (min-width: 1025px) {
	h2 {
		font-size: 2.6rem;
	}
}

@media (max-width: 1024px) {
		h1.hero-title {
		font-size: 2.8rem;
	}
		h2 {
		font-size: 2rem;
	}
		p {
		font-size: 1.2rem;
	}
		.button-started {
		width: 220px;
	}
		.button-started .get-started-button2 {
		padding: 17px 0 !important;
		font-size: 1rem;
	}
	
		.sources-wrapper, .sources-block{
		flex-wrap: wrap;
		justify-content: center;
	}
	
		.sources-title {
		flex-basis: 100%;
		text-align: center;
	}
}

@media screen and (min-width: 768px) and (max-width: 1240px) {

		p {
			font-size: 1rem;
		}
}

@media(max-width: 768px) {
	h1.hero-title {
		font-size: 2.3rem;
		}

	h2 {
		font-size: 1.8rem;
		}

	h2 > sup {
		font-size: .7rem;
		}
	
	p {
		font-size: 1rem;
		}
	.content {
		margin: 8% 0;
		padding: 4% ;
	}

	.app-download-wrapper{
		flex-wrap: wrap;
		justify-content: center;
	}
	.img-phone img {
		width: 70%;
		display: block;
		margin-left: 10%;
	}

	.content-description {	
		margin: 0 auto;
		margin-top: 3%;
		text-align: center;

	}

	.slider {
		margin: 0 5%;
	}

	.imgEnjoy img, .img-context-puzzle img {
		width: 100%;
	}

	.sources-title {
		flex-basis: 100%;
		text-align: center;
		padding-left: 0;
	}

	.sources-block {
		justify-content: center;
		flex-basis: 70%;
	}


}


@media(max-width: 426px) {
	h1.hero-title {
		font-size: 1.2rem;
		}

	h2 {
		font-size: 1.1rem;

		}
		.enjoyIt-heading, .context-title, .sources-title {
			padding: 10px;
		}
	h3 {
		font-size: .9rem;
	}
	
	p, a {
		font-size: .7rem;
		}

	.content {
		margin: 25% 0;
	}

	.button-started {
		width: 150px;
	}
	.button-started .get-started-button2, .button-started .get-started-button {
		padding: 15px 0 !important;
		font-size: 0.7rem;
	}

	.slider {
		margin:  0 5%;
	}
	.image-carousel-caption {
		font-size: .7rem;
	}

	.sources-paragraph p {
		font-size: .8rem;
	}

	.call-to-action {
		-webkit-background-size: 180%;
		background-size: 180%;
	}
}