@media screen and (min-width: 1550px) {
	body {
		font-size: 1.2rem;
	}

}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
	.menu-wrapper {
		width: 50%;

	}
}

@media (max-width: 1024px) {
	h1.hero-title {
		font-size: 2.8rem;
	}

	h2 {
		font-size: 2rem;
	}

	p, p.subtitle {
		font-size: 1.4rem;
	}

	.lang {
		padding-left: 110px;
	}

	.button-started {
		width: 220px;
	}

	.button-started .get-started-button2 {
		padding: 10px 0 !important;
		font-size: 1rem;
	}

	.button-group {
		width: 100%;
	}

	.blog a {
		font-size: 1.1rem;
	}

	.sources-wrapper,
	.sources-block {
		flex-wrap: wrap;
		justify-content: center;
	}

	.sources-title {
		flex-basis: 100%;
		text-align: center;
		margin-top: 0;
		padding-top: 0;
	}
}

@media screen and (min-width: 768px) and (max-width: 1240px) {

	p, p.subtitle {
		font-size: 1.2rem;
	}


}

@media(max-width: 768px) {
	h1.hero-title {
		font-size: 2.3rem;
	}

	h2 {
		font-size: 1.8rem;
	}

	h2>sup {
		font-size: .7rem;
	}

	p, p.subtitle {
		font-size: 1rem;
	}

	.app-download-wrapper {
		flex-wrap: wrap;
		justify-content: center;
	}

	.img-phone {
		flex-basis: 100%;
	}

	.img-phone img {
		width: 70%;
	}

	.content-description {
		margin: 0 auto;
		margin-top: 3%;
		text-align: center;
		flex-basis: 100%;

	}

	.slider {
		margin: 0 5%;
	}

	.enjoyIt-heading,
	.context-title,
	.sources-title {
		text-align: center;
		padding-top: 6%;
	}

	.enjoyIt-wrapper,
	.content-context-memory {
		flex-direction: column;
		margin-top: 0;
	}

	.blog a {
		font-size: 1.1rem;
	}

	.sources-title {
		flex-basis: 100%;
		text-align: center;
		padding-left: 0;
	}

	.sources-block {
		justify-content: center;
		flex-basis: 70%;
	}


}

@media(max-width: 610px) {
	h1.hero-title {
		font-size: 1.1rem;
		line-height: 2rem;
	}

	h2 {
		font-size: 1rem;

	}

	h3 {
		font-size: .9rem;
	}

	p,
	a {
		font-size: .9rem;
	}

	.wrapper-hero {
		padding: 4% 0 25%;
	}

	.logo {
		margin: 0 0 0 5px;
	}

	.logo-light {
		font-size: 1.4rem;
		right: 5%;
		margin-left: auto;
	}

	.lang {
		padding-left: 20px;
	}

	.lang,
	.menu-wrapper {
		width: auto;
	}

	.button-started .get-started-button2,
	.button-started .get-started-button {
		font-size: 0.5rem;
		margin: 0 auto;
	}

	.slider {
		margin: 0 5%;
	}

	.image-carousel-caption {
		font-size: .7rem;
	}

	.blog a {
		font-size: .7rem;
		letter-spacing: 2px;
		padding: 2% 0;
	}

	.sources-block {
		flex-basis: 95%;
	}

	.sources-paragraph p {
		font-size: .8rem;
	}

	.call-to-action {
		-webkit-background-size: 180%;
		background-size: 180%;
	}

	.get-started-footer {
		padding-bottom: 1%;
	}
}