/*menu button for mobile version*/
@media (max-width: 1024px) {
	.sticky-bar{
		padding-right: 100px;
		position: relative;
	}
	.menu-wrapper {
		position: absolute;
		right: 0;
		top: 0;
		width: auto;
	}

	.menu-block{
		position: relative;
	}

	.menu-btn {
		position: absolute;
		display: block;
		width: 40px;
		height: 40px;
		border-radius: 25px;
		top: 5px;
		right: 15px;
		background-color: rgba(0, 0, 0, .3);
		z-index: 101;
		transition: background-color .2s ease-in-out;
	}

	.menu-btn:hover{
		cursor: pointer;
		background-color: rgba(0, 0, 0, .5);
	}

	.menu-btn span,
	.menu-btn span::before,
	.menu-btn span::after {
		position: absolute;
		top: 50%;
		margin-top: -1px;
		left: 50%;
		margin-left: -7.5px;
		width: 15px;
		height: 2px;
		background-color: white;
	}

	.menu-btn span::before,
	.menu-btn span::after {
		content: '';
		display: block;
		transition: 0.2s;

	}

	/*menu button animation*/
	.menu-btn span::before {

		transform: translateY(-5px);
	}

	.menu-btn span::after {

		transform: translateY(5px);
	}

	.menu-btn_active span:before {

		transform: rotate(-35deg);
		width: 10px;
		transform-origin: left bottom;

	}

	.menu-btn_active span:after {
		transform: rotate(35deg);
		width: 10px;
		transform-origin: left top;

	}

	.overlay{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		visibility: hidden;
		background-color: rgba(0,0,0,0.5);
		-moz-transition: all .4s;
		-webkit-transition: all .4s;
		transition: all .4s;
	}
	
	.menu-main-list {
		opacity: 0;
		right: -300px;
		position: fixed;
		justify-content: flex-start;
		flex-direction: column;
		background-color: #222B34;
		z-index: 101;
		width: 300px;
		max-width: 100%;
		height: 100%;
		-moz-transition: all .4s;
		-webkit-transition: all .4s;
		transition: all .4s;
		padding-bottom: 20% !important;
	}

	.menu-logo{
		display: block;
		font-size: 1.6rem;
		font-family: 'Kodchasan', sans-serif;
		font-weight: bold;
		color: white;
	}

	.menu-main-list li {
		line-height: 3;
		font-size: 1rem;
		border-bottom: 1px solid #d3d3d33d;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: left;
		transition: all .2s ease-in-out;
	}

	.menu-main-list li:hover:not(:first-child){
		background-color:#d3d3d33d;
	}

	.menu-main-list li:first-child {
		padding: 10% 0;
		text-align: center;
		border-bottom:none;
	}

	.menu-main_active .menu-main-list {
		right: 0;
		opacity: 1;
		visibility: visible;
	}
	
	.menu-main_active .overlay {
		opacity: 1;
		visibility: visible;
	}
	
	.menu-main-list .menu-nav__link {
		color: white;
		transition: all .2s ease-in-out;
	}

	.menu-main-list .menu-nav__link:hover {
		border-bottom: 0;
		color: #03a9f4;
	}


	/*menu links*/
	.menu-nav__link {
		display: block;
		text-decoration: none;
		height: 100%;
		width: 100%;
		text-align: left;
		padding: 4% 15%;
		padding-bottom: 0;
	}

	

}