@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kodchasan:600&display=swap');

@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");


* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 1rem;
	overflow-x: hidden;
}

p, li {
	font-family: 'Muli', sans-serif;
}

h1, a, h2, h3, select {
	font-family: 'Comfortaa', cursive;
}

h2 {
	margin-bottom: 1%;

	font-size: 2.8rem;
	font-weight: 500;
	word-wrap: normal;
	word-break: keep-all;
}

h3 {
	text-transform: capitalize;
	font-size: 1.5rem;
	font-weight: normal;
}

p {
	margin: 2% 0;

	font-size: 1.4rem;
	font-weight: normal;
	line-height: 1.2;
	color: rgba(0,0,0,.72);
}

a {
	text-decoration: none;
	font-weight: bold;
	letter-spacing: 0.7px;
	color: white;
	text-align: center;
	cursor: pointer;
}

li {
	list-style: none;
}

.slick-slide {
	height: auto !important;
}
.slider {
	margin: 0 18%;
	padding-bottom: 10%; 
}
.slide img {
	width: 100%;
}
.image-carousel-caption {
	padding: 2% 0;

	text-align: center;
	font-size: 2rem;
	font-family: 'Comfortaa', cursive;
	
}
.slick-dots li button:before {
	color: #00b9ed !important;
	font-size: 20px !important;
}

.hero {
	background: no-repeat bottom/cover url('../img/backgrounds/bcg3.svg');
	text-align: center;

}	
.wrapper-hero {
	padding: 8% 0 20%;

}
.navbar {
	position: relative;
}
.sticky-bar {
	display: flex;
	width:  100%;
	justify-content: space-between;
}
.fixed-bar {
	position: fixed;
	left: 0;
	top: 0;

	display: flex;
	width:  100%;
	background-color: white;

	z-index: 900;
	box-shadow: 0 0 4px rgba(2,0,0,.33);
	animation: showMenu .3s;
	
}
.fixed-bar .logo-light{
	color: #215599;
}
.fixed-bar a{
	color: #215599;
	padding-bottom: 2px;
}
.fixed-bar select {
	color: #215599;
	background: url('../img/lang/triangle1.svg') right center no-repeat;
	background-size: 10%;
}

@keyframes showMenu {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


/*logo*/
.lang, .menu-wrapper {
	width: 45%;
	max-height: 80px;
}

.lang {
	justify-content: flex-start;
    display: flex;
    align-items: center;
}

select {
	-webkit-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
	appearance:none;
	border: none;
	background: url('../img/lang/triangle1.1.svg') right center no-repeat;
	background-size: 10%;
	color: white;
	font-size: 1rem;
	padding: 10px;
	cursor: pointer;
}
.lang option {
	color: #215599;
}


/*.lang a{
	display: flex;
	width: 4%;
	margin-left: 4px;
}
.lang a > img {
	width: 100%;
}
*/

.logo {
	width: 15%;
}
.logo-light {
	position: absolute;
	left: 3%;
	top: 15%; 
	font-size: 1.8rem;
	font-family: 'Kodchasan', sans-serif;
	font-weight: bold;
	color: white;
}

/*menu*/

.menu-wrapper {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;

}
.menu-block {
	width: 100%;
}
.menu-block .menu-main {
	position: relative;
	right: 5%;

	display: flex;
	justify-content: space-around;
	padding: 25px;
	align-items: center;
	text-transform: capitalize;
}
.menu-main li {	
	text-align: right;
}
.menu-main .menu-nav__link {
	font-weight: normal;
	padding-bottom: 5px;
}
.menu-main .menu-nav__link:hover {
	border-bottom: 3px solid #03a9f4;
}
.menu-btn {
	display: none;
}



/*hero*/
.hero-title {
	margin: 0 15% 0.5%;
	font-size: 3.3rem;
	font-weight: 600;
	color: #fff;
}
.subtitle {
	color: #fff; 
}

.button-started {
	width: 300px;
	margin: 0 auto;
	margin-top: 2%; 
}

.button-started .get-started-button {
	padding: 20px 40px;
}

.button-started .get-started-button, 
.button-started .get-started-button2  {
	display: block;	
    width: auto;
    
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #fff;
    
    background-color: #f26d6d;
    border: none;
    border-radius: 50px;
}

.button-started .get-started-button:hover,
.button-started .get-started-button2:hover {
	background-color: #ffb43f;
	transition: all .3s linear;	
}

/*.header-separator .svg-white-bg {
	fill: white;
}*/


/*content*/
.content {
	margin: 6% 0;
	padding: 6%;
	
}

.content-enjoyLearning .enjoyIt-wrapper{
	text-align: right;
}

.enjoyIt-heading, .context-title {
	text-align: left;
	padding: 20px 50px 0 50px;
}

.imgEnjoy img, .img-context-puzzle img {
	width: 68%;
}

/*.content-ourApp {
	background: url('../img/phone-dark.svg') left top/contain no-repeat;
}*/

.app-download-wrapper{
	display: flex;
	flex-wrap: nowrap;
}


.img-phone img{
	text-align: left;
	width: 90%;
}

.content-description {
	flex-basis: 50%;
	margin-top: 10%;
}


h2 > span {
	font-weight: 800;
}

h2 > sup {
	font-size: 1rem;
	font-weight: 800;
}

.openSoftware {
	color: lightblue; text-decoration: underline;
	transition: .3s;
}

.openSoftware:hover {
	text-decoration: none;
	color: #4d8bdd;
}

.button-group {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 100%;
	margin-top: 4%;
	position: relative;
}

.button-install {
	padding: 8px 12px;
 	width: 22.019%;
    color: #f26d6d;
    background-color: #fff;
    border-radius: 50px;
    border: 2px solid #f26d6d;
   
}

.button-install:not(:first-of-type) {
	margin-left: 2%;
}

.button-install:first-of-type {
	background-color: #f26d6d;
	color: white;
}

.button-install:hover {
	color: #fff;
    background-color: #f26d6d;
    border: 2px solid #f26d6d;
    transition: all .3s linear;
}

.button-install:first-of-type:hover{
	background-color: rgb(183, 82, 82);
	border: 2px solid rgba(183, 82, 82);	
}

.button-install-extension {
	display: none;
	position: absolute; bottom: -24px; right: 0%;
	padding: 3px 6px; 
	border-radius: 20px;
	
	color: #029fe2;
    background-color: #d4f5f7;

    font-size: .8rem;
    opacity: 0;

}

#extension:hover ~ .button-install-extension {
	display: block;
	opacity: 1;
	transition: opacity .3s linear;

	
}

.content-howItWorks h2 {
	text-align: center;
	margin-bottom: 2%;
}

.blog {
	margin: 0 0 10%;
}

.blog a {
	display: block;
	width: 17%;
	background-color: #45B8FF;
	color: white;
	padding: 1.5% 4%;
	margin: 0 auto;
	border-radius: 50px;
	font-size: 1.4rem;
	letter-spacing: 4px;
}

.blog a:hover {
	background-color: #6fc7e2;
	transition: all .3s;
}

.blog h2 {
	color: #45B8FF;
	font-weight: 700;
	text-align: center;
}


.blog-button {
	background-image: url("../img/blog/svg/decor.svg");
	background-position: bottom center;
	background-repeat: no-repeat;
	-webkit-background-size: 40%;
	background-size: 40%;
}

.blog-button a {
	text-transform: uppercase;
	font-weight: 800;
}

.extension img{
	width: 100%;
}

.context-title {
	text-align: right;
}

.img-context-puzzle {
	padding: 2%;
}

.content:last-of-type {
	padding-bottom: 5%;
}
.sources-wrapper, .sources-block, .sources-block .second-part{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.sources-wrapper {
	justify-content: center;

}

.sources-title {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	flex-basis: 50%;
	
	padding: 20px 40px 20px 50px;	
	margin-top: 5%;
}

.sources-block {
	flex-basis: 50%;
}

 .sources-block .first-part,
 .sources-block .second-part {
	flex-direction: column;
	justify-content: center;
	flex-basis: 50%;

}

.sources-paragraph{
	margin:  2%;
	padding: 8%;

	border-radius: 25px;
	background:  #45B8FF;	
	color: white;
}

.second-part .sources-paragraph {
	margin: 1%;
}
.sources-paragraph p {
	font-size: 1rem;
	color: white;
}

.button-started .get-started-button2 {
	padding: 25px 75px;
	font-size: 1.4rem;
	width: 70%;
	margin: 0 auto;  
}

.call-to-action {
	padding-bottom: 3%;
	background: url('../img/illustration6(3).svg') bottom/cover no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;

}