@font-face {
    font-family: 'Kodchasan';
    src: local('Kodchasan Medium'), local('Kodchasan-Medium'), url('Kodchasanmedium.woff2') format('woff2'), url('Kodchasanmedium.woff') format('woff'), url('Kodchasanmedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Kodchasan';
    src: local('Kodchasan Bold'), local('Kodchasan-Bold'), url('Kodchasanbold.woff2') format('woff2'), url('Kodchasanbold.woff') format('woff'), url('Kodchasanbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
